<nav>
  <ul>
    <li><a routerLink="/example1">Ví dụ về Angular</a></li>
    <li><a routerLink="/vd-string-interpolation">Ví dụ 1: String Interpolation</a></li>
    <li><a routerLink="/vd2-data-binding">Ví dụ 2: Data Binding</a></li>
    <li><a routerLink="/vd3-property-binding">Ví dụ 3: Property Binding</a></li>
    <li><a routerLink="/vd4-style-binding-va-class-binding">Ví dụ 4: Style Binding Va Class Binding</a></li>
    <li><a routerLink="/vd5-event-binding">Ví dụ 5: Event Binding</a></li>
    <li><a routerLink="/vd6-two-ways-binding">Ví dụ 6: Two-Ways Binding</a></li>
    <li><a routerLink="/vd7-builtin-directives-ngif">Ví dụ 7: Built-In Directives *ngIf</a></li>
    <li><a routerLink="/vd8-builtin-directives-ngfor">Ví dụ 8: Built-In Directives *ngFor</a></li>
    <li><a routerLink="/vd9-builtin-directives-ngswitchcase">Ví dụ 9: Built-In Directives *ngSwitchCase</a></li>
    <li><a routerLink="/vd10-builtin-directives-ngtemplateoutlet">Ví dụ 10: Built-In Directives *ngTemplateOutlet</a>
    </li>
    <li><a routerLink="/vd11-interaction-comp">Ví dụ 11: Tương tác giữa Input và Output</a></li>
    <li><a routerLink="/vd12-template-refeference-variable">Ví dụ 12: template variable</a></li>
    <li><a routerLink="/vd13-viewchild-viewchildren">Ví dụ 13: Viewchild và viewchildren</a></li>
    <li><a routerLink="/vd14-show-content-projection">Ví dụ 14: Content Projection</a></li>
    <li><a routerLink="/vd15-builtin-pipes">Ví dụ 15: Built-In Pipes</a></li>
    <li><a routerLink="/vd16-show-custom-pipes">Ví dụ 16: Custom Pipes</a></li>
    <li><a routerLink="/vd17-httpclient-httprequestmethod">Ví dụ 17: Http Client và Http Request Method</a></li>
    <li><a routerLink="/vd18-reactiveform-bindingwithhtml">Ví dụ 18: Reactive Form: Binding với HTML sử dụng FormGroup
        và formControlName</a></li>
    <li><a routerLink="/vd19-reactiveform-formarray">Ví dụ 19: Reactive Form: Form Array</a></li>
    <li><a routerLink="/vd20-reactiveform-formvalidators">Ví dụ 20: Reactive Form: Form Validators</a></li>
    <li><a routerLink="/vd21-host-event-listener">Ví dụ 21: Host Event Listener</a></li>

  </ul>
</nav>

<!-- Nơi hiển thị các component dựa trên đường dẫn -->
<router-outlet></router-outlet>